<div id="<%= dom_id booking %>">
  <p>
    <strong>Start:</strong>
    <%= booking.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= booking.end %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= booking.purpose %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= booking.room_id %>
  </p>

</div>
